@import "../variable/color";

// .member-list {
//   padding-top: 80px;

//   .member-item {
//     width: 100%;
//     background-color: #B5B5C3;
//     border-radius: 10px;
//     margin-bottom: 64px;
//     transition: all linear .2s;

//     .image {
//       position: relative;
//       border-radius: 10px;
//       height: 480px;

//       img {
//         border-radius: 10px;
//         transition: all linear .2s;
//         height: 100%;
//         object-fit: cover;
//         object-position: center;
//       }

//       .overlay {
//         width: 90%;
//         background-color: $white;
//         position: absolute;
//         bottom: -40px;
//         left: 50%;
//         transform: translateX(-50%);
//         border-radius: 10px;
//         text-align: center;
//         box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
//         padding: 20px;
//         transition: all linear .2s;

//         h4 {
//           font-size: 16px;
//           color: $black;
//           font-weight: 600;
//           transition: all linear .2s;
//           line-height: 26px;
//         }

//         p {
//           padding-top: 5px;
//           font-size: 15px;
//           transition: all linear .2s;
//         }

//         &:hover {
//           background-color: $themeColor;
//         }

//         &:hover {
//           h4 {
//             color: $white;
//           }

//           p {
//             color: $white;
//           }
//         }
//       }
//     }

//     &:hover {
//       margin-top: -20px;
//     }
//   }
// }

.executive-committee {
  padding-top: 100px;

  .container {
    position: relative;
  }

  .mentor-item {
    margin: 0 0 24px !important;
  }

  .view-all {
    position: absolute;
    top: 50px;
    right: 13px;

    a {
      background-color: $black;
      color: $white;
      font-size: 15px;
      font-weight: 600;
      padding: 7px 20px;
      transition: all linear .2s;

      &:hover {
        background-color: $themeColor;
        color: $white
      }
    }
  }

  padding-top: 80px;

  .mentor-item {
    padding: 30px;
    background-color: $white;
    box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.1);
    margin: 0 12px;
    border: 2px dashed $themeColor;

    .image {
      width: 140px;
      height: 140px;
      border-radius: 50%;
      overflow: hidden;
    }

    .text {
      a {
        font-size: 18px;
        font-weight: 700;
        color: $black;
        padding-bottom: 5px;
        transition: all linear .2s;

        &:hover {
          color: $themeColor;
        }
      }

      span {
        font-size: 17px;
        color: $black;
        padding-bottom: 8px;
      }

      p {
        color: $black;
      }

      .button {
        a {
          background-color: $themeColor;
          color: $white;
          font-size: 15px;
          font-weight: 500;
          padding: 6px 16px;
          border-radius: 20px;
          transition: all linear .2s;

          &:hover {
            background-color: $black;
          }
        }
      }
    }
  }

  .slick-list {
    padding: 18px 0;
  }

  .icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid $themeColor;
    text-align: center;
    line-height: 35px;
    color: $themeColor;
    cursor: pointer;
  }

  .left {
    position: absolute;
    top: 50%;
    left: -45px;
    transform: translateY(-50%);
  }

  .right {
    position: absolute;
    top: 50%;
    right: -45px;
    transform: translateY(-50%);
  }
}